@font-face {
  font-family: 'ExpoArabic-Bold';
  src: url('./fonts/ArbFONTS-ExpoArabic-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'JannaLT-Bold';
  src: url('./fonts/janna-lt-bold.ttf') format('truetype');
}

@font-face {
  font-family: "Expo Arabic-Book";
  font-style: normal;
  font-weight: 400;
  src: url("https://test-uploads.s3.amazonaws.com/projects/60c11a988af0d8f406859331/fonts/janna-lt-bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Expo Arabic-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://test-uploads.s3.amazonaws.com/5d9905ea10afe710f57c068e/ArbFONTS-ExpoArabic-Bold.otf")
    format("opentype");
}

@font-face {
  font-family: 'ExpoArabic-Bold';
  src: url('fonts/ExpoArabic-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Expo Arabic-Book";
  font-style: normal;
  font-weight: 400;
  src: url("https://test-uploads.s3.amazonaws.com/projects/60c11a988af0d8f406859331/fonts/janna-lt-bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Expo Arabic-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://test-uploads.s3.amazonaws.com/5d9905ea10afe710f57c068e/ArbFONTS-ExpoArabic-Bold.otf")
    format("opentype");
}

body {
  font-family: 'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
html {
  scroll-behavior:auto;
}

:root {
  --b-2: #ecfbd4;
  --black: #000000;
  --black-2: #00000069;
  --green-house: #1e4307;
  --lima: #6fcf0f;
  --red: #ff0000;
  --romance: #fffdfd;
  --saffron: #e8c02e;
  --turbo: #ffe501;
  --white: #ffffff;
  --youssaf: #2f9e07;

  --font-size-l: 37px;
  --font-size-m: 36px;
  --font-size-s: 35px;
  --font-size-xl: 38px;
  --font-size-xs: 12px;
  --font-size-xxl: 55px;
  --font-size-xxxl: 71px;

  --font-family-expo_arabic-bold: "Expo Arabic-Bold", Helvetica;
  --font-family-expo_arabic-book: "Expo Arabic-Book", Helvetica;
  --font-family-expo_arabic-regular: "Expo Arabic-Regular", Helvetica;
  --font-family-inter: "Inter", Helvetica;
}

:root {
  --font-family-expo_arabic-bold: 'ExpoArabic-Bold';
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head1 .x250-dh {
  background-color: transparent;
  color: var(--white);
   /*  font-family: var(--font-family-expo_arabic-bold);*/
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input:focus {
  outline: none;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

.expoarabic-book-normal-black-37px {
  color: var(--black);
  font-family: var(--font-family-expo_arabic-book);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.expoarabic-bold-green-house-12px {
  color: var(--green-house);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.expoarabic-book-normal-saffron-25-5px {
  color: var(--saffron);
  font-family: var(--font-family-expo_arabic-book);
  font-size: 25.5px;
  font-style: normal;
  font-weight: 400;
}

.expoarabic-bold-saffron-37-6px {
  color: var(--saffron);
  font-size: 37.6px;
  font-style: normal;
  font-weight: 700;
}

.expoarabic-bold-green-house-21px {
  color: var(--green-house);
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
}

.expoarabic-book-normal-black-57px {
  color: var(--black-2);
  font-family: var(--font-family-expo_arabic-book);
  font-size: 57px;
  font-style: normal;
  font-weight: 400;
}

.expoarabic-book-normal-white-43-4px {
  color: var(--white);
  font-family: var(--font-family-expo_arabic-book);
  font-size: 43.4px;
  font-style: normal;
  font-weight: 400;
}

.expoarabic-bold-turbo-70px {
  color: var(--turbo);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
}
   /*  Hajar akboub */
.expoarabic-book-normal-green-house-37px {
  color: var(--green-house);
  font-family: var(--font-family-expo_arabic-book);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.expoarabic-bold-white-71px {
  color: var(--white);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.expoarabic-book-normal-black-35px {
  color: var(--black);
  font-family: var(--font-family-expo_arabic-book);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.group {
  background-color: transparent;
  position: absolute;
}

/* head1 */

.head1 {
  background-color: var(--white);
  height: 10150px;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.head1 .view-Sx12XS {
  background-color: transparent;
  height: 4793px;
  left: 0px;
  position: absolute;
  top: 149px;
  width: 1080px;
}

.head1 .view-3Kjn8b {


background: linear-gradient(0deg, rgba(1, 60, 14, 0.31), rgba(1, 60, 14, 0.31)), radial-gradient(81.11% 67.74% at 81.11% 32.96%, rgba(215, 245, 185, 0.3861) 0%, rgba(143, 212, 93, 0.99) 61%, rgba(47, 158, 8, 0.99) 100%) ;

  height: 1125px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1080px;
}

.head1 .view-VwLGop {
  background: linear-gradient(
    180deg,
    rgb(255, 229.60626661777496, 1.0625000554136932) 0%,
    rgb(255, 255, 255) 100%
  );
  background-color: transparent;
  height: 1795px;
  left: 0px;
  position: absolute;
  top: 2998px;
  transform: rotate(-180deg);
  width: 1080px;
}

.head1 .x1-3Kjn8b {
  background: linear-gradient(
    180deg,
    rgb(255, 229.60626661777496, 1.0625000554136932) 0%,
    rgb(255, 255, 255) 100%
  );
  background-color: transparent;
  height: 1880px;
  left: 0px;
  position: absolute;
  top: 1118px;
  width: 1080px;
}

.head1 .view-ctqFND {
  background-color: transparent;
  height: 518px;
  left: 53px;
  position: absolute;
  top: 149px;
  width: 1193px;
}

.head1 .group-2-VA2SkS {
  background-color: transparent;
  height: 971px;
  left: 493px;
  position: absolute;
  top: -408px;
  width: 1173px;
}

.head1 .group-1-VA2SkS {
  background-color: transparent;
  height: 366px;
  left: -3px;
  position: absolute;
  top: 102px;
  width: 616px;
}

.head1 .view-MfYPh4 {
  background-color: transparent;
  height: 134px;
 left: 93px; 
  position: absolute;
  top: 643px;
  width: 896px;
}

.head1 .rectangle-4-BJPZtI {
  background-color: #1d4206;
  border-radius: 21px;
  height: 101px;
  left: 0px;
  position: absolute;
  top: 19px;
  width: 894px;
}

.head1 .text_label-BJPZtI {
  color: var(--b-2);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  height: 34px;
  left: 11px;
  line-height: normal;
  text-align: center;
  top: 0px;
  width: 873px;
}

.head1 .rectangle-5-JqkpEL {
  background-color: var(--turbo);
}

.head1 .icon-checkout-major-JqkpEL {
  transform: rotate(180deg);
}

.head1 .vector-Tlhou0 {
  height: 71px;
  left: -4px;
  top: -8px;
  transform: rotate(-180deg);
  width: 58px;
}

.head1 .icon-mobile-back-arrow-major-JqkpEL {
  left: 39px;
}

.head1 .text_label-JqkpEL {
  color: var(--green-house);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  height: 80px;
  left: 47px;
  line-height: normal;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 517px;
}

.head1 .hook-Sx12XS {
  background-color: transparent;
  height: 149px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1082px;
}

.head1 .rectangle-6-hqn7q6 {
  background-color: var(--white);
  height: 149px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1080px;
}

.head1 .text_label-hqn7q6 {
  color: var(--youssaf);
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  height: 134px;
  left: 0px;
  line-height: normal;
  text-align: center;
  top: 11px;
  width: 1080px;
}

.head1 .view-E {
  background-color: transparent;
  height: 345px;
  left: 69px;
  position: absolute;
  top: 924px;
  width: 937px;
}

.head1 .text_label-V2 {
  color: var(--white);
  
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  height: 134px;
  left: 0px;
  line-height: normal;
  text-align: center;
  text-shadow: 12px 4px 7.199999809265137px #000000a3;
  top: -49px;
  width: 933px;
}

.head1 .span0-W {
  font-family: 'Expo Arabic'; font-style: normal; 
}

.head1 .span1-W {
  font-size: 92px;
  font-style: normal;
}

.head1 .text_label-O {
  color: transparent;
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 245px;
  left: 24px;
  line-height: 60px;
  text-align: justify;
  top: 60px;
  width: 894px;
}

.head1 .span0-R {
  color: #ffe70e;
  font-style: normal;
}

.head1 .span1-R {
  color: #0a1a00;
  font-style: normal;
  font-weight: 500;
}

.head1 .span2-R {
  color: #ffe70e;
  font-style: normal;
}

.head1 .text_label-reUH3Z {
  color: #1E4307;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  height: 66px;
  left: 240px;
  line-height: normal;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
  display: block; /* Ensure it takes up the full width */
  margin-bottom: 20px; /* Adjust the value as needed */
  
}


.head1 .rectangle-5-ISEjx3 {
  background-color: var(--green-house);
}

.head1 .icon-mobile-back-arrow-major-ISEjx3 {
  left: 38px;
}

.head1 .text_label-ISEjx3 {
  height: 80px;
  left: 47px;
  line-height: normal;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 517px;
}

.head1 .text_label-6u99aM {
  height: 52px;
    font-size: var(--font-size-l);
    font-style: normal;
    left: 7.5px;
    line-height: normal;
    text-align: center;
    top: 100px;
    width: 606px;
    color: #1E4307;
    position: absolute;
    line-height: 44px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.head1 .view-FbtXGM {
  background-color: transparent;
  height: 525px;
  left: 86px;
  position: absolute;
  top: 2218px;
  width: 914px;
}

.head1 .rectangle-8-pLf13H {
  height: 327px;
  width: 908px;
}

.head1 .x-pLf13H {
  color: #fdfdfc;
  font-size: var(--font-size-m);
  font-style: revert-layer;
  font-weight: 400;
  height: 245px;
  left: calc(50% - 877px / 2 - 0.5px);
  line-height: 59px;
  top: 32px;
  letter-spacing: 0.3px;
  width: 877px;
  text-align: justify;
  display: flex;
  position: absolute;
}

.head1 .text_label-pLf13H {
  color: var(--green-house);

  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  height: 52px;
  left: 2px;
  line-height: normal;
  text-align: center;
  top: 15px;
  white-space: nowrap;
  width: 904px;
}

.head1 .rectangle-9-pLf13H {
  background-color: var(--turbo);
  height: 198px;
  left: 0px;
  position: absolute;
  top: 327px;
  width: 908px;
}

.head1 .x6-100-pLf13H {
  background-color: transparent;
  color: #000000;
  direction: rtl;

  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 195px;
  left: 90px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  align-items: center;
  top: 287px;
  width: auto;
}

.head1 .view-HXwC0E {
  background-color: transparent;
  height: 70px;
  left: 279px;
  position: absolute;
  top: 2778px;
  width: 522px;
}

.head1 .star-1-SGap9A {
  height: 63px;
  left: 228px;
  width: 67px;
}

.head1 .star-2-SGap9A {
  height: 63px;
  left: 341px;
  top: 0px;
  width: 67px;
}

.head1 .star-4-SGap9A {
  height: 63px;
  left: 454px;
  top: 0px;
  width: 67px;
}

.head1 .star-3-SGap9A {
  height: 63px;
  left: 115px;
  top: 0px;
  width: 67px;
}

.head1 .star-5-SGap9A {
  height: 63px;
  top: 0px;
  width: 67px;
}

.head1 .view-OTr0Yj {
  background-color: transparent;
  height: 575px;
  left: -15px;
  position: absolute;
  top: 2813px;
  width: 1101px;
}

.head1 .rectangle-11-6fLnNE {
  background-color: var(--green-house);
  border-radius: 51px;
  height: 138px;
  left: 575px;
  position: absolute;
  top: 422px;
  width: 427px;
}

.head1 .rectangle-10-6fLnNE {
  background-color: var(--turbo);
  height: 407px;
  left: 0px;
  position: absolute;
  top: 71px;
  width: 1095px;
}

.head1 .text_label-6fLnNE {
  color: var(--green-house);
     
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  height: 305px;
  left: 535px;
  line-height: 101.8px;
  text-align: center;
  top: 30px;
  width: 511px;
}

.head1 .text_label-qwUP22 {
  color: #0d056d;
   
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  height: 78px;
  left: 535px;
  line-height: 78.2px;
  text-align: center;
  top: 383px;
  white-space: nowrap;
  width: auto;
}

.head1 .x250-dh-6fLnNE {
  color: var(--white);
  font-size: 76px;
  height: 74px;
  left: 650px;
  line-height: 138.2px;
  top: 486px;
  width: 282px;
}

.head1 .md-png-2-2-6fLnNE {
  background-color: transparent;
  height: 575px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 588px;
}

.head1 .rectangle-5-tenNu6 {
  background-color: var(--green-house);
}

.head1 .icon-mobile-back-arrow-major-tenNu6 {
  left: 38px;
}

.head1 .text_label-tenNu6 {
  height: 80px;
  left: 47px;
  line-height: normal;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 517px;
}

.head1 .text_label-BGgO0B {
  height: 52px;
  font-size: var(--font-size-l);
  font-style: normal;
  left: 7.5px;
  line-height: normal;
  text-align: center;
  top: 100px;
  width: 606px;
  color: #1E4307;
  position: absolute;
  line-height: 44px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.head1 .view-z4JN2x {
  background-color: transparent;
  height: 623px;
  left: 0px;
  position: absolute;
  top: 3639px;
  width: 1081px;
}

.head1 .text_label-cfv3IT {
  color: var(--green-house);
     
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  height: 85px;
  left: 47px;
  line-height: normal;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.head1 .view-2vHqtp {
  background-color: transparent;
  height: 604px;
  left: 93px;
  position: absolute;
  top: 4297px;
  width: 895px;
}

.head1 .view-xkK51z {
  background-color: transparent;
  cursor: pointer;
  height: 129px;
  left: 0px;
  position: absolute;
  top: 475px;
  width: 893px;
}

.head1 .view-fq81ba {
  background-color: transparent;
  height: 129px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 895px;
}

.head1 .rectangle-14-jfx43O {
  background-color: transparent;
  height: 129px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 893px;
}

.head1 .text_label-jfx43O {
  height: 85px;
  left: 144px;
  line-height: normal;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: auto;
}

.head1 .group-71-jfx43O {
  background-color: transparent;
  height: 90px;
  left: 22px;
  position: absolute;
  top: 22px;
  width: 849px;
}

.head1 .subtract-p7gqiV {
  left: 0px;
}

.head1 .subtract-4zBU6u {
  left: 759px;
}

.head1 .view-1Alani {
  background-color: transparent;
  cursor: pointer;
  height: 129px;
  left: 0px;
  position: absolute;
  top: 297px;
  width: 893px;
}

.head1 .view-lMDOog {
  background-color: transparent;
  height: 129px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 895px;
}

.head1 .rectangle-13-i0vfKW {
  background-color: transparent;
  height: 129px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 893px;
}

.head1 .text_label-i0vfKW {
  height: 85px;
  left: 147px;
  line-height: normal;
  text-align: center;
  top: 26px;
  white-space: nowrap;
  width: auto;
}

.head1 .group-70-lMDOog {
  background-color: transparent;
  height: 101px;
  left: 23px;
  position: absolute;
  top: 13px;
  width: 847px;
}

.head1 .group-68-NAhnw2 {
  background-color: transparent;
  height: 98px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 98px;
}

.head1 .group-69-NAhnw2 {
  background-color: transparent;
  height: 98px;
  left: 749px;
  position: absolute;
  top: 0px;
  transform: rotate(180deg);
  width: 98px;
}

.head1 .rectangle-1-ZgOKCz {
  transform: rotate(-180deg);
}

.head1 .ellipse-28-ZgOKCz {
  transform: rotate(-180deg);
}

.head1 .ellipse-29-ZgOKCz {
  transform: rotate(-180deg);
}

.head1 .view-CiQliD {
  background-color: transparent;
  cursor: pointer;
  height: 129px;
  left: 0px;
  position: absolute;
  top: 120px;
  width: 895px;
}

.head1 .rectangle-12-9dWJLZ {
  background-color: transparent;
  height: 129px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 893px;
}

.head1 .text_label-9dWJLZ {
  height: 85px;
  left: 56px;
  line-height: normal;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: auto;
}

.head1 .text_label-xkK51z {
  color: var(--green-house);
  
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  height: 85px;
  left: 48px;
  line-height: normal;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.head1 .view-6HJmot {
  background-color: transparent;
  height: 680px;
  left: 93px;
  position: absolute;
  top: 4942px;
  width: 897px;
}

.head1 .rectangle-8-08NHfr {
  height: 670px;
  width: 893px;
}

.head1 .x-08NHfr {
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 282px;
  left: 16px;
  line-height: 60px;
  text-align: center;
  top: 77px;
  width: 763px;
  position: absolute;
  display: flex;
  align-items: center;
  color: #FEFEFD;
  
  

}

.head1 .text_label-08NHfr {
  color: #fff400; 
  font-size: 108px;
  font-style: normal;
  font-weight: 700;
  height: 130px;
  left: 46px;
  line-height: normal;
  text-align: center;
  top: 268px;
  width: auto;
}

.head1 .view-VW8DWT {
  background-color: transparent;
  height: 178px;
  left: 234px;
  position: absolute;
  top: 4981px;
  width: 616px;
}

.head1 .rectangle-5-bstxZb {
  background-color: var(--green-house);
}

.head1 .icon-mobile-back-arrow-major-bstxZb {
  left: 38px;
}

.head1 .text_label-bstxZb {
  height: 80px;
  left: 47px;
  line-height: normal;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 517px;
}

.head1 .text_label-dp5VHa {
  height: 52px;
  font-size: var(--font-size-l);
    font-style: normal;
    left: 7.5px;
    line-height: normal;
    text-align: center;
    top: 100px;
    width: 606px;
    color: #1E4307;
    position: absolute;
    line-height: 44px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.head1 .view-SduRQY {
  background-color: transparent;
  height: 301px;
  left: 93px;
  position: absolute;
  top: 5659px;
  width: 900px;
}

.head1 .text_label-mD4qeN {
  color: var(--green-house);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 900;
  height: -26px;
  line-height: normal;
  text-align: center;
  top: -28px;
  width: 866px;
}

.head1 .text_label-8WceJH {
  color: var(--black);
  font-family: var(--font-family-expo_arabic-book);
  font-size: 51px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 51px;
  line-height: 81.6px;
  text-align: center;
  top: 80px;
  width: 792px;
}

.head1 .view-MPSg0x {
  background-color: transparent;
  height: 1888px;
  left: 53px;
  position: absolute;
  top: 6941px;
  width: 990px;
}

.head1 .rectangle-33-iiKxKp {
  background-color: #dbe004ba;
  border-radius: 44px;
  height: 1888px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 974px;
}

.head1 .text_label-iiKxKp {
  color: var(--green-house);
  
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  height: 81px;
  left: 94px;
  line-height: 81px;
  text-align: center;
  top: -27px;
  white-space: nowrap;
  width: auto;
}

.head1 .group-22-iiKxKp {
  background-color: transparent;
  height: 114px;
  left: 117px;
  position: absolute;
  top: 650px;
  width: 729px;
}

.head1 .star-1-Bo57cx {
  height: 88px;
  left: 317px;
  width: 93px;
}

.head1 .star-2-Bo57cx {
  height: 88px;
  left: 476px;
  top: 17px;
  width: 93px;
}

.head1 .star-4-Bo57cx {
  height: 88px;
  left: 633px;
  top: 17px;
  width: 93px;
}

.head1 .star-3-Bo57cx {
  height: 88px;
  left: 160px;
  top: 17px;
  width: 93px;
}

.head1 .star-5-Bo57cx {
  height: 88px;
  top: 17px;
  width: 93px;
}

.head1 .group-45-iiKxKp {
  background-color: transparent;
  height: 56px;
  left: 497px;
  position: absolute;
  top: 128px;
  width: 394px;
}

.head1 .text_label-9MBgQx {
  color: var(--green-house);
  font-family: var(--font-family-expo_arabic-book);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  height: 56px;
  left: 37px;
  line-height: 54px;
  text-align: center;
  top: -23px;
  white-space: nowrap;
  width: 355px;
}

.head1 .vector-9MBgQx {
  height: 31px;
  left: 0px;
  top: -13px;
  width: 24px;
}

.head1 .title-iiKxKp {
  background-color: transparent;
  color: var(--black);
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  height: 143px;
  left: 135px;
  letter-spacing: 4.76px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 710px;
  width: 463px;
}

.head1 .x300-dh-iiKxKp {
  background-color: transparent;
  color: var(--red);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  height: 72px;
  left: 621px;
  letter-spacing: 2.4px;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-decoration: line-through;
  top: 774px;
  white-space: nowrap;
  width: auto;
}

.head1 .group-8737-iiKxKp {
  background-color: transparent;
  height: 575px;
  left: 40px;
  position: absolute;
  top: 917px;
  width: 887px;
}

.head1 .group-54-rmRTEw {
  background-color: transparent;
  height: 575px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 895px;
}

.head1 .user_fill-qvM7ui {
  background-color: transparent;
  height: 102px;
  left: 784px;
  position: absolute;
  top: 13px;
  width: 102px;
}

.head1 .group-49-qvM7ui {
  background-color: transparent;
  height: 102px;
  left: 784px;
  position: absolute;
  top: 163px;
  width: 102px;
}

.head1 .ellipse-47-dEvpNa {
  background-color: transparent;
  border: 3px solid;
  border-color: var(--black);
  border-radius: 51px;
  height: 102px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 102px;
}

.head1 .vector-189-dEvpNa {
  background-color: transparent;
  height: 63px;
  left: 21px;
  position: absolute;
  top: 19px;
  width: 63px;
}

.head1 .group-50-qvM7ui {
  background-color: transparent;
  height: 102px;
  left: 784px;
  position: absolute;
  top: 313px;
  width: 102px;
}

.head1 .ellipse-48-A0DbZ9 {
  position: absolute;
}

.head1 .group-47-A0DbZ9 {
  background-color: transparent;
  height: 77px;
  left: 23px;
  position: absolute;
  top: 13px;
  width: 57px;
}

.head1 .ellipse-40-KPKxrh {
  background-color: transparent;
  height: 20px;
  left: -1px;
  position: absolute;
  top: 58px;
  width: 59px;
}

.head1 .group-46-KPKxrh {
  background-color: transparent;
  height: 65px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 57px;
}

.head1 .ellipse-4-4NWiLT {
  background-color: transparent;
  height: 65px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 57px;
}

.head1 .ellipse-5-4NWiLT {
  background-color: var(--white);
  border-radius: 12.16px;
  height: 24px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.head1 .group-51-qvM7ui {
  height: 102px;
  left: 785px;
  top: 463px;
  width: 102px;
}

.head1 .ellipse-48-SZIss8 {
  position: relative;
}

.head1 .group-8735-rmRTEw {
  background-color: transparent;
  height: 63px;
  left: 807px;
  position: absolute;
  top: 480px;
  width: 55px;
}

.head1 .x123-1-iiKxKp {
  background-color: transparent;
  height: 225px;
  left: 40px;
  position: absolute;
  top: 1663px;
  width: 910px;
}

.head1 .view-JztBxp {
  background-color: transparent;
  height: 398px;
  left: 71px;
  position: absolute;
  top: 8902px;
  width: 959px;
}

.head1 .text_label-oqElS8 {
  color: var(--green-house);
  font-family: var(--font-family-expo_arabic-book);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: 268px;
  left: 0px;
  line-height: 67px;
  text-align: center;
  font-weight: 600;
  top: 55px;
  width: 955px;
}

.head1 .text_label-acjx7O {
  color: var(--green-house);
  
  font-size: 92px;
  font-style: normal;
  font-weight: 700;
  height: 110px;
  left: 209px;
  line-height: normal;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.head1 .map-maker-agadir-sou-Sx12XS {
  background-color: transparent;
  height: 317px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 9307px;
  width: 1005px;

}

.head1 .view-FO8yFx {
  background-color: transparent;
  height: 511px;
  left: 0px;
  position: absolute;
  top: 9639px;
  width: 1100px;
}

.head1 .rectangle-42-JW0lOB {
  background-color: #b5f79d;
  height: 485px;
  left: 0px;
  position: absolute;
  top: 23px;
  width: 1080px;
}

.head1 .x212661715372-JW0lOB {
  background-color: transparent;
  height: 44px;
  left: 556px;
  letter-spacing: 5.55px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 233px;
  white-space: nowrap;
  width: auto;
}

.head1 .contactyoussefherbcom-JW0lOB {
  background-color: transparent;
  height: 44px;
  left: 399px;
  letter-spacing: 3px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 296px;
  white-space: nowrap;
  width: auto;
}

.head1 .landing-pege-02-1-JW0lOB {
  background-color: transparent;
  height: 193px;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 613px;
}

.head1 .rectangle-43-JW0lOB {
  background-color: #d9d9d9;
  height: 87px;
  left: 0px;
  position: absolute;
  top: 424px;
  width: 1080px;
}

.head1 .group-65-JW0lOB {
  background-color: transparent;
  height: 78px;
  left: 179px;
  position: absolute;
  top: 433px;
  width: 726px;
}

.head1 .text_label-XFbGnX {
  height: 78px;
  left: 361px;
  line-height: normal;
  text-align: center;
  top: 0px;
  width: 361px;
}

.head1 .youssef-herb-2024-XFbGnX {
  background-color: transparent;
  height: 78px;
  left: 0px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 361px;
}

.head1 .x212668334161-JW0lOB {
  background-color: transparent;
  height: 44px;
  left: 556px;
  letter-spacing: 5.5px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: auto;
}

.head1 .return-policy-JW0lOB {
  background-color: transparent;
  height: 44px;
  left: 764px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 365px;
  white-space: nowrap;
  width: auto;
}

.head1 .terms-of-use-JW0lOB {
  background-color: transparent;
  height: 44px;
  left: 438px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 365px;
  white-space: nowrap;
  width: auto;
}

.head1 .privacy-policy-JW0lOB {
  background-color: transparent;
  height: 44px;
  left: 87px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 365px;
  white-space: nowrap;
  width: auto;
}

.head1 .rectangle-44-JW0lOB {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 17px;
  height: 53px;
  left: 72px;
  position: absolute;
  top: 360px;
  width: 276px;
}

.head1 .rectangle-45-JW0lOB {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 17px;
  height: 53px;
  left: 405px;
  position: absolute;
  top: 360px;
  width: 276px;
}

.head1 .rectangle-46-JW0lOB {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 17px;
  height: 53px;
  left: 738px;
  position: absolute;
  top: 360px;
  width: 276px;
}

.head1 .x0661715372-JW0lOB {
  background-color: transparent;
  color: var(--white);
  
  font-size: 53px;
  font-style: normal;
  font-weight: 700;
  height: 64px;
  left: 527px;
  letter-spacing: 11.13px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 71px;
  width: auto;
}

.head1 .youssef-herb-logo-01-1-JW0lOB {
  background-color: transparent;
  height: 195px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 347px;
}

.head1 .ellipse-28 {
  background-color: transparent;
  height: 45px;
  left: 59px;
  position: absolute;
  top: 26px;
  width: 15px;
}

.head1 .ellipse-29 {
  background-color: transparent;
  height: 69px;
  left: 82px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.head1 .ellipse-48 {
  background-color: transparent;
  border: 3px solid;
  border-color: var(--black);
  border-radius: 51px;
  height: 102px;
  left: 0px;
  top: 0px;
  width: 102px;
}

.head1 .icon-checkout-major {
  background-color: transparent;
  height: 63px;
  left: 516px;
  position: absolute;
  top: 28px;
  width: 50px;
}

.head1 .icon-mobile-back-arrow-major {
  background-color: transparent;
  height: 48px;
  position: absolute;
  top: 36px;
  width: 60px;
}

.head1 .mask-group {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 0px;
}

.head1 .rectangle-1 {
  background-color: transparent;
  height: 95px;
  left: 3px;
  position: absolute;
  top: 1px;
  width: 46px;
}

.head1 .rectangle-5 {
  border-radius: 65px;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 612px;
}

.head1 .rectangle-8 {
  background: linear-gradient(180deg, rgba(255, 248, 248, 0) 0%, rgba(118, 143, 98, 0.623918) 34%, rgba(66, 103, 41, 0.861358) 51.5%, #235008 92.45%);
  left: 0px;
  position: absolute;
  top: 0px;
}

.head1 .star-1 {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.head1 .star-2 {
  background-color: transparent;
  position: absolute;
}

.head1 .star-3 {
  background-color: transparent;
  position: absolute;
}

.head1 .star-4 {
  background-color: transparent;
  position: absolute;
}
   /*  Hajar akboub */

.head1 .star-5 {
  background-color: transparent;
  left: 2px;
  position: absolute;
}

.head1 .subtract {
  background-color: transparent;
  height: 90px;
  position: absolute;
  top: 0px;
  width: 90px;
}

.head1 .text_label {
  background-color: transparent;
  direction: rtl;
  letter-spacing: 0px;
  position: absolute;
}

.head1 .vector {
  background-color: transparent;
  position: absolute;
}

.head1 .x {
  background-color: transparent;
  direction: rtl;
  letter-spacing: 0px;
  position: absolute;
}

.group-54-rmRTEw input {
  display: block;
  width: 90%;
  margin: auto 15%;
  height: 80px;
  padding: 5px 15px 15px 100px;
  color: #000;
  border-radius: 25px;
  background: transparent;
  
  font-weight: 100;


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 70px;
  color: rgba(0, 0, 0, 0.8); 
  
}

.group-54-rmRTEw label input {
  width: 6%;
  height: 38px;
}

.group-54-rmRTEw input {
  display: block;
  width: 90%;
  margin: auto 15%;
  height: 190px;
  padding: 5px 15px 15px 0px;
  color: #000;
  border-radius: 25px;
  background: transparent;

  font-weight: 100;
  font-family: var(--font-family-expo_arabic-book);
  font-size: var(--font-size-l);
}

::placeholder { 
  color: #00000081;
  font-weight: 100;
  opacity: 1; 
} 
:-ms-input-placeholder { 
  color: #6d340581;
  font-weight: 100;
} 
::-ms-input-placeholder { 
  color: #6d340581;
  font-weight: 100;
}

/*RADIOS*/
.radio-ellipse-16,
.radio-ellipse-17,
.radio-ellipse-15 {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--black);
  border-radius: 50%;
  height: 42px;
  width: 42px;
  position: absolute;
  cursor: pointer;
  z-index: 2; 
}

.radio-ellipse-16 {
 /* left: 867px;
  top: 368px;*/
  left: 800px;
  top: 40px;
}

.radio-ellipse-17 {
  /*left: 867px;
  top: 530px;*/
  left: 800px;
  top: 40px;
}

.radio-ellipse-15 {
  /*
  left: 870px;
  top: 224px;*/
  left: 800px;
    top: 24px;
}

.radio-ellipse-15:checked,
.radio-ellipse-16:checked,
.radio-ellipse-17:checked {
  background-color: var(--black);
}

.radio-label {
  position: absolute;
  cursor: pointer;
  z-index: 2; 
  display: block;

}

.head1 .x500-50-350-iiKxKp,
.head1 .x1-50-450-iiKxKp,
.head1 .x500-250-iiKxKp {
  background-color: transparent;
  direction: rtl;
  letter-spacing: 0px;
  font-weight: bold;
  z-index: 3; 
}

.head1 .x500-50-350-iiKxKp {
  height: 100px;
  left: 80px;
  transform: translate(0%, -20%);
  line-height: 50.3px;
  position: absolute;
  text-align: right;
  top: 0px;
  width: auto;
}

.head1 .x1-50-450-iiKxKp {
  height: 100px;
  left:80px;
  transform: translate(0%, -20%);

  line-height: 50.3px;
  position: absolute;
  text-align: right;
  top: 0px;
  width: auto;
}

.head1 .x500-250-iiKxKp {
  height: 42px;
  left:115px;
  transform: translate(0%, -20%);

  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.head1 .rectangle-24-iiKxKp {
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 38px;
  height: 101px;
  left: 40px;
  position: absolute;
  top: 197px;
  width: 894px;
}

.head1 .rectangle-25-iiKxKp {
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 38px;
  height: 143px;
  left: 40px;
  position: absolute;
  top: 317px;
  width: 894px;
}

.head1 .rectangle-34-iiKxKp {
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 38px;
  height: 143px;
  left: 40px;
  position: absolute;
  top: 479px;
  width: 894px;
}

.head1 .rectangle-29-qvM7ui {
  position: relative;
  width: 779px;
  height: 128px;
  left:-120px;
  background-color: transparent;
  margin-bottom: 20px; /* Adjust the space between rectangles */
}

.head1 .rectangle-32-qvM7ui {
  position: relative;
  width: 779px;
  height: 128px;
  left:-120px;

  background-color: transparent;
  margin-bottom: 20px; /* Adjust the space between rectangles */
}

.head1 .rectangle-30-qvM7ui {
  position: relative;
  width: 779px;
  height: 128px;
  left:-120px;

  background-color: transparent;
  margin-bottom: 20px; /* Adjust the space between rectangles */
}

.head1 .rectangle-31-qvM7ui {
  position: relative;
  width: 779px;
  height: 128px;
  left:-120px;

  background-color: transparent;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.additional-text {
  color: var(--red); 
left: 127px;
font-weight: 700;
font-size: 35px;
line-height: 143.8%;
display: contents;
align-items: center;
text-align: right;

}

.head1 .rectangle-29-qvM7ui {
  position: relative;
  width: 779px;
  height: 128px;
  left:-120px;
  background-color: transparent;
  margin-bottom: 20px; 
}

.head1 .rectangle-32-qvM7ui {
  position: relative;
  width: 779px;
  height: 128px;
  left:-120px;
  background-color: transparent;
  margin-bottom: 20px; 
}

.head1 .rectangle-30-qvM7ui {
  position: relative;
  width: 779px;
  height: 128px;
  left:-120px;
  background-color: transparent;
  margin-bottom: 20px; 
}

.head1 .rectangle-31-qvM7ui {
  position: relative;
  width: 779px;
  height: 128px;
  left:-120px;
  background-color: transparent;
}

/*confirmation button*/

.head1 .rectangle-15 {
  background-color: #40f900;
  border: 5px solid var(--black);
  border-radius: 53.5px;
  height: 107px;
  position: absolute;
  top: 0;
  left: 0;
  width: 896px;
  cursor: pointer;
  padding: 0;
  font-size: 57px;
  font-weight: 700;
  display: grid;
  place-items: center;
}



.head1 .group-51 {
  background-color: transparent;
  position: absolute;
}

.head1 .group-53-iiKxKp button {
  background-color: #40f900;
  border: 5px solid;
  border-color: var(--black);
  border-radius: 53.5px;
  height: 107px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 996px;
  cursor: pointer;
  padding: 0;
}

.head1 .group-53-iiKxKp button:focus {
  outline:#39f500; 
}

.head1 .group-53-iiKxKp {
  background-color: #40f900;
  height: 107px;
  left: 39px;
  position: absolute;
  top: 1536px;
  width: 896px;

  border: 5px solid;
  border-color: var(--black);
  border-radius: 53.5px;
  
}


/*******************************/ 

.view-reUH3Z, .view-sgxfus, .view-7FFuuC, .view-nf20E1, .view-SNrTTZ, .view-QjAo1X, .view-3UL1Sx {
  min-width: 100%;
  box-sizing: border-box;
}


@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.text_label-hqn7q6 {
  display: inline-block;
  animation: moveRightToLeft 5s linear infinite;
}

/*BUTTOON 1 */

.head1 .view-YihZ50 {
  background-color: transparent;
  border-color: transparent;
  border: none; 
  background: none;
  height: 119px;
  left: 234px;
  position: absolute;
  top: 801px;
  width: 614px;
  border-radius: 65px;
  z-index: 1000; 
  cursor: pointer;
  animation: pop-in 0.2s ease-in-out, pop-up 0.7s linear infinite;
}

.view-YihZ50:hover {
  animation: sign-swing 0.5s ease-in-out;
}

/**BUTTON 2 */

.head1 .view-9rGBIu {
  background-color: transparent;
  height: 178px;
  left: 234px;
  position: absolute;
  top: 1994px;
  width: 618px;
}

.view-9rGBIu {
  position: fixed; 
  bottom: 20px;
  left: 20px; 
  z-index: 1000;
  border: none; 
  background: none; 
  cursor: pointer; 
  animation: pop-in 0.2s ease-in-out, pop-up 0.7s linear infinite;
  display: inline-block; 
  padding: 0; 
  margin: 0; 
}

@keyframes pop-up {
  0%, 95% {
      transform: scale(1);
  }
  98% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.view-9rGBIu:hover {
  animation: sign-swing 0.5s ease-in-out;
}

.view-9rGBIu:active {
  animation: click-scale 0.2s ease-in-out;
}

body {
  animation: cursor-move-animation 0.5s ease-in-out forwards;
}

@keyframes cursor-move-animation {
  0% {
      transform: translateY(-10px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

/* <!-- 3th button: order now  --> */
.head1 .view-hbpljd {
  background-color: transparent;
  height: 178px;
  left: 234px;
  position: absolute;
  top: 3417px;
  width: 618px;


}

.head1 .text_label-ozZpDL {
  color: #273b4a;
  font-size: 57px;
  font-style: normal;
  font-weight: 700;
  height: 68px;
  left: 299px;
  line-height: normal;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: auto;
}

.view-hbpljd {
  position: fixed; 
  bottom: 20px; 
  left: 20px; 
  z-index: 1000; 
  border: none; 
  background: none; 
  cursor: pointer; 
  animation: pop-in 0.2s ease-in-out, pop-up 0.7s linear infinite;

  
  
}

@keyframes pop-up {
  0%, 95% {
      transform: scale(1);
  }
  98% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.view-hbpljd:hover {
  animation: sign-swing 0.5s ease-in-out;
}

@keyframes sign-swing {
  0%, 100% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(5deg);
  }
  50% {
      transform: rotate(-5deg);
  }
  75% {
      transform: rotate(5deg);
  }
}

.view-hbpljd:active {
  animation: click-scale 0.2s ease-in-out;
}

body {
  animation: cursor-move-animation 0.2s ease-in-out forwards;
}

@keyframes cursor-move-animation {
  0% {
      transform: translateY(-10px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

/*BUTTON 4 ANIMATION*/
@keyframes pop-up {
    0%, 95% {
        transform: scale(1);
    }
    98% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.view-dp5VHa:hover {
    animation: sign-swing 0.5s ease-in-out;
}

.head1 .view-dp5VHa {
  background-color: transparent;
  height: 119px;
  left: 0px;
  top: 0px;
  width: 614px;
  z-index: 1000;
  border: none; 
  background: none; 
  cursor: pointer; 
animation: pop-in 0.2s ease-in-out, pop-up 0.7s linear infinite;

}

.view-dp5VHa {
  bottom: 20px; 
  right: 20px; 
  z-index: 1000; 
  border: none; 
  background: none; 
  cursor: pointer; 
  animation: pop-in 0.2s ease-in-out, pop-up 0.7s linear infinite;

}

@keyframes pop-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pop-up {
  0% {
    transform: scale(1);
  }
  1.8% {
    transform: scale(1);
  }
  3.6% {
    transform: scale(1.01);
  }
  6.35% {
    transform: scale(1.03);
  }
  9.1% {
    transform: scale(1.07);
  }
  11.4% {
    transform: scale(1.13);
  }
  13.4% {
    transform: scale(1.19);
  }
 
 
 

}

@keyframes sign-swing {
  0%, 80% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }

}

@keyframes click-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
 
}

/******************************************************************************************************/

.image-wrapper {
  position: relative;
  margin-right: 20px;
  margin-top: 15px;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.price-overlay {
  position: absolute;
  bottom: 30px;
  left: 45px;  background-color: var(--lima);
  color: white;
  padding: 10px 10px;
  border-radius: 17px;
  width: 364px;
  text-align: center;
 /* display: flex;*/
  align-items: center;
  height: 80px;
}

.vector-UU8yBC {
  margin-right: 85px;
}

.price-text {
  font-size: 64px;
  font-weight: bold;
  font-style: normal;
  font-weight: 700;
  color: var(--black);
  height: 65px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.view-SduRQY {
  cursor: pointer;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right,
.swiper-slide-shadow-top,
.swiper-slide-shadow-bottom {
  background-image: none; 
  box-shadow: 0 4px 20px transparent; 
}

 .swiper-pagination {
  display: flex;
  justify-content: center;
 
  margin-bottom: -4%;
  background-color: transparent; 
  padding: 10px; 
}

.swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black; 
  opacity: 0.6; 
  margin: 0 5px; 
  cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1; 
}

/************************video*******************************/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4); /* Add background color for better visibility */
}

.modal-content {
/*   background-color: #ffffff5e;
 border: 1px solid #888;
 */
  margin: 0;
 /* padding: 20px;*/
 
  width: 90%;
  max-width: 80%; /* Adjust max-width for larger videos */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
}

.close {
  color: #050505;
  align-self: flex-end; /* Adjust close button position */
  font-size: 60px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.method-video {
  background-color: #0c3e1c;
  color: #fff;
  padding: 2.15% 6% 2% 6%;
  font-size: 4.275rem;
  border-radius: 45px;
  display: block;
  margin: 2% auto;
  border: none;
} 

.modal-content video { 
  width: 100%;
  max-width: 100%; /* Ensure the video doesn't exceed the modal width */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: auto;
}

@media (max-width: 600px) {
  .modal-content {
    width: 95%;
    padding: 10px;
  }

  .close {
    font-size: 24px;
  }
}
/* Optional styling for the content section */
.content {
  text-align: center; /* Center text and other elements */
}

   /*  Hajar akboub */

/****************************************/
 
.head1 .view-i9xJ98 {
  background-color: transparent;
  height: 649px;
  left: -101px;
  position: absolute;
  top: 1293px;
  width: 1284px;
}

.view-i9xJ98 {
  background-color: transparent;
  height: 638px;
  position: relative;
  width: 100%;
  overflow: hidden;
}


